*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}
#right img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
#left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    

}
#left{
    width: 35%;
    height: 100%;
    background-color: aqua;
    
}
#right{
    width: 65%;
    height: 100%;
    background-color: royalblue;
    
 }
 #ring{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient( to right bottom, red,blue,green, yellow);
    z-index: 99999;
    position: absolute;
 }